<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{curso/fragments/fragments :: head}"></head>
  <body>
    <nav th:replace="~{curso/fragments/fragments :: menu}"></nav>
    <div class="container mt-4">
    <h1>Nuevo Libro</h1>
    <form
      method="post"
      action="#"
      th:action="@{/libro/new/submit}"
      th:object="${libroForm}"
    >
      <label>Título:<input type="text" id="titulo" th:field="*{titulo}" /></label><br />
      <div class="text-danger"
            th:if="${#fields.hasErrors('titulo')}"
            th:errors="*{titulo}">
            </div>
      <label>Curso:<select th:field="*{curso.id}" class="form-select">
        <option value="" selected>-- Sin curso --</option>
        <option th:each="curso : ${listaCursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
      </select></label><br />
      <div class="text-danger"
      th:if="${#fields.hasErrors('curso')}"
      th:errors="*{curso}">
    </div>
      <input type="submit" value="Enviar" />
    </form>
    <br />
    <a th:href="@{/libro/list}">Volver</a><br />
  </body>
</html>
